<title> Owner</title>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{>admin-sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Add Product</h1>

                    <div class="row">

                        <div class="col-lg-11">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                </div>
                                <div class="message p-3">
                                    {{#if deviceSucc}}
                                    <div class="alert alert-success" role="alert">
                                        {{deviceSucc}}
                                    </div>
                                    {{/if}}
                                    {{#if deviceError}}
                                    <div class="alert alert-danger" role="alert">
                                        {{deviceError}}
                                    </div>
                                </div>
                                {{/if}}
                                <form action="/admin/add-product"  method="post" enctype="multipart/form-data" >
                                    <div class="card-body">
                                        <span style="margin-left: 13px; color: green;" id="check_availability_movie"
                                            style="font-size:12px;"></span>
                                        <span style="margin-left: 13px; color:red;" id="check_not_movie"
                                            style="font-size:12px;"></span>

                                        {{!-- Product Name --}}
                                      <div class="row m-2">
                                            <div class="form-group mt-3 col-md-5">
                                            <label for="product">Product Name</label>
                                            <input style="border-color:#b4e3eb;" type="text"
                                                class="form-control col-md-12 mt-2" id="productname" name="productname"
                                                required>
                                        </div>

                                        <div class="form-group mt-3 col-md-5">
                                            <label for="product">Product Price</label>
                                            <input style="border-color:#b4e3eb;" type="text"
                                                class="form-control col-md-12 mt-2" id="productprice" name="productprice"
                                                required>
                                        </div>
                                      </div>

                                        <div class="form-group mt-3 col-md-5">
                                            <div class="form-group">
                                                <label for="movietitle">Select Movie</label>
                                                <select style="background-color: #ebfaf8;" name="category" class="form-control" id="category" required>
                                                    <option value="">Select</option>
                                                    {{#each category}}
                                                    <option name="category" value="{{this._id}}">{{this.category}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>

                                        {{!-- Color --}}
                                        <div style=" border-style: solid; border-color: #67c2d6;" class="row m-1"
                                            id="color">
                                            <div class="form-group mt-1 col-md-12">
                                                <label for="color">Color</label>
                                                <button style="border-radius: 20px;width: 37px;"
                                                    class="m-1 ml-5 btn btn-danger" id="remove"
                                                    onblur="removeElement()">-</button>
                                                <button style="border-radius: 20px;" class="m-1 btn btn-success"
                                                    id="add" onclick="addElement()">+</button>
                                            </div>

                                             <div class="form-group m-3 col-md-12"> 
                                                <div class="row">
                                                    <label class="col-md-12" for="processor ">All Colors</label>
                                                    <input style="border-color:#b4e3eb;" type="file"
                                                        class="form-control col-md-5 mt-2" name="allcolors"
                                                        onchange="allColorImage(event)" required>
                                                    <img style="object-fit: contain;" class="col-md-1 mt-2 color-image" src=""  height="40px" width="40px" id="all-color-image">

                                                </div>
                                            </div>
                                            
                                            <div class="form-group mt-3 col-md-5">
                                                <label for="processor">Color</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="color" name="color"
                                                    required>
                                            </div>
                                            <div class="form-group mt-3 col-md-5">
                                                <label for="Trailer Link" class="col-md-12">Image</label>
                                                <div class="row">
                                                    <input style="border-color:#b4e3eb;" type="file"
                                                        class="form-control col-md-9 mt-2" name="colorimage"
                                                        onchange="viewImage(event,1)" required>
                                                    <img class="col-md-3 mt-2 color-image" src="" id="color-image1"
                                                        height="40px" width="40px">

                                                </div>
                                            </div>
                                        </div>



                                        {{!-- storage --}}

                                        {{!-- <div style=" border-style: solid; border-color: #ffbeb3;" class="row m-1 mt-5"
                                            id="storage">
                                            <div class="form-group mt-1 col-md-12">
                                                <label for="storage">Storage</label>
                                                <button style="border-radius: 20px;width: 37px;"
                                                    class="m-1 ml-4 btn btn-danger" id="remove"
                                                    onblur="removeStorageElement()">-</button>
                                                <button style="border-radius: 20px;" class="m-1 btn btn-success"
                                                    id="add" onclick="addStorageElement()">+</button>
                                            </div>
                                           
                                                <div class="form-group mt-3 col-md-5">
                                                    <label for="color">Storage </label>
                                                    <input style="border-color:#b4e3eb;" type="text"
                                                        class="form-control  mt-2" id="storage" name="storage"
                                                        required>
                                                </div>
                                                <div class="form-group mt-3 col-md-5">
                                                    <label for="color">Price </label>
                                                    <input style="border-color:#b4e3eb;" type="text"
                                                        class="form-control  mt-2" id="storageprice" name="storageprice"
                                                        required>
                                                </div>
                                            
                                            
                                        </div> --}}


                                        {{!-- Processor --}}
                                        <div class="row ml-1">
                                            <div class="form-group mt-3 col-md-5">
                                                <label for="processor">Processor</label>
                                                <input style="border-color:#b4e3eb;" type="text"
                                                    class="form-control col-md-12 mt-2" id="processor" name="processor"
                                                    required>
                                            </div>
                                            <div class="form-group mt-3 col-md-5">
                                                <label for="Trailer Link" class="col-md-12">Processor Image</label>
                                                <div class="row">
                                                    <input style="border-color:#b4e3eb;" type="file"
                                                        class="form-control col-md-9 mt-2" name="processorimage"
                                                        onchange="processorImage(event)" required>
                                                    <img style="    object-fit: contain;" class="col-md-3 mt-2" src="" id="processor-img" height="40px"
                                                        width="40px">

                                                </div>
                                            </div>
                                        </div>

                                        {{!-- <div class="form-group mt-3 col-md-10">
                                            <label for="processor">Processor</label>
                                            <input style="border-color:#b4e3eb;" type="text"
                                                class="form-control col-md-12 mt-2" id="processor" name="processor"
                                                required>
                                        </div> --}}

                                         <hr>
                                        <label class="ml-3" for=" Trailer Link col-md-12">Product Image</label>
                                        <div class="form-group mt-3 col-md-10">
                                            <img src="" id="product-image" >
                                            <input style="border-color:#b4e3eb;" type="file"
                                                class="form-control col-md-12 mt-2" name="productimage"
                                                onchange="productImage(event)" required>
                                        </div>
                                      
                                        <center>
                                            <a href="/admin/dashboard"
                                                class="btn btn-danger  mt-3 mr-2 ">Cancel</a>
                                            <button type="submit" id="submit"
                                                class="btn btn-success  mt-3">Next</button>
                                        </center>
                                    </div>
                                </form>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>

<script>
    function checkMovieAvailability() {
        let movietitle = $("#movietitle").val();

        $.ajax({
            url: '/owner/movie-avilability/' + movietitle,
            method: 'get',
            success: (response) => {

                if (response.status) {
                    document.getElementById('check_availability_movie').innerHTML = ' '
                    document.getElementById('submit').disabled = true
                    document.getElementById('check_not_movie').innerHTML = ' Movie already exists'



                } else {
                    document.getElementById('check_not_movie').innerHTML = ''
                    document.getElementById('submit').disabled = false
                    document.getElementById('check_availability_movie').innerHTML = '  Available '
                }

            }
        })
    }


    $(document).ready(function () {
        $("#movietitle").keyup(checkMovieAvailability);
    });
</script>

<script>
    function viewImage(event, count) {
        document.getElementById('color-image' + count).src = URL.createObjectURL(event.target.files[0]);
    }

    function processorImage(even){
        document.getElementById('processor-img').src=URL.createObjectURL(event.target.files[0]);
    }

    function productImage(event) {
        document.getElementById('product-image').src = URL.createObjectURL(event.target.files[0]);
    }

    function allColorImage(even){
         document.getElementById('all-color-image').src = URL.createObjectURL(event.target.files[0]);
    }
</script>

{{!-- product color --}}
<script>
    let count = 1;
    function addElement() {
        count = count + 1;

        var divContainer = document.createElement("DIV");
        divContainer.setAttribute("class", "form-group mt-1 col-md-5");
        divContainer.setAttribute("id", count);
        document.getElementById("color").appendChild(divContainer);




        var label = document.createElement("LABEL");
        label.setAttribute("id", "label" + count);
        document.getElementById(count).appendChild(label);
        document.getElementById('label' + count).innerHTML = "Color " + count;

        var inputText = document.createElement("INPUT");
        inputText.setAttribute("type", "text");
        inputText.setAttribute("name", "color");
        inputText.setAttribute("class", "form-control col-md-12 mt-2");
        document.getElementById(count).appendChild(inputText);

        var divColorImageContainer = document.createElement("DIV");
        divColorImageContainer.setAttribute("class", "form-group mt-1 col-md-5");
        divColorImageContainer.setAttribute("id", 'color-image-div' + count);
        document.getElementById("color").appendChild(divColorImageContainer);

        var imageLabel = document.createElement("LABEL");
        imageLabel.setAttribute("id", "label" + count);
        document.getElementById(count).appendChild(imageLabel);
        document.getElementById('color-image-div' + count).innerHTML = "Image " + count;

        var divRow = document.createElement('DIV');
        divRow.setAttribute('class', 'row');
        divRow.setAttribute('id', 'color-row' + count);
        document.getElementById('color-image-div' + count).appendChild(divRow);



        var input = document.createElement("INPUT");
        input.setAttribute("type", "file");
        input.setAttribute("name", "colorimage");
        input.setAttribute("class", "form-control col-md-9 mt-3 ");
        input.setAttribute('onchange', `viewImage(event,'${count}')`);
        document.getElementById('color-row' + count).appendChild(input);



        var image = document.createElement("img");
        image.setAttribute('class', 'col-md-3 mt-3 color-image');
        image.setAttribute('src', '');
        image.setAttribute('id', 'color-image' + count);
        image.setAttribute('height', '40px');
        image.setAttribute('width', '40px');
        document.getElementById('color-row' + count).appendChild(image);



    }

    function removeElement() {
        document.getElementById(count).remove();
        document.getElementById('color-image-div' + count).remove();
        count = count - 1;
    }
</script>



{{!-- product storage --}}
{{!-- <script>
    let storageCount = 1;
    function addStorageElement() {
        storageCount = storageCount + 1;

        var divContainer = document.createElement("DIV");
        divContainer.setAttribute("class", " form-group mt-3 col-md-5");
        divContainer.setAttribute("id", "storage"+storageCount);
        document.getElementById("storage").appendChild(divContainer);

        var label = document.createElement("LABEL");
        label.setAttribute("id", "labelstorage" + storageCount);
        document.getElementById("storage"+storageCount).appendChild(label);
        document.getElementById("labelstorage" +storageCount).innerHTML = "Storage " + storageCount;

        var inputText = document.createElement("INPUT");
        inputText.setAttribute("type", "text");
        inputText.setAttribute("name", "storagesize");
        inputText.setAttribute("class", "form-control  mt-2");
        document.getElementById("storage"+storageCount).appendChild(inputText);

         var divContainer = document.createElement("DIV");
        divContainer.setAttribute("class", " form-group mt-3 col-md-5");
        divContainer.setAttribute("id", "price"+storageCount);
        document.getElementById("storage").appendChild(divContainer);

        var label = document.createElement("LABEL");
        label.setAttribute("id", "label-storage-price" + storageCount);
        document.getElementById("price"+storageCount).appendChild(label);
        document.getElementById( "label-storage-price" + storageCount).innerHTML = "Price " + storageCount;

        var inputText = document.createElement("INPUT");
        inputText.setAttribute("type", "text");
        inputText.setAttribute("name", "storageprice");
        inputText.setAttribute("class", "form-control  mt-2");
        document.getElementById("price"+storageCount).appendChild(inputText);
    }

    function removeStorageElement() {
        document.getElementById("storage"+storageCount).remove();
        document.getElementById("price"+ storageCount).remove();
        storageCount = storageCount - 1;
    }
</script> --}}



<style>
    .color-image {
        object-fit: contain;
    }
</style>