<title> Admin</title>




<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{>admin-sidebar}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">



            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Change Password</h1>

                <div class="row">
                    <div class="col-lg-5">
                        <!-- Collapsable Card Example -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">Warning</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCardExample">
                                <div class="text-danger card-body">
                                    Choose a strong password and don't reuse it for other accounts.
                                    Changing your password will sign you out
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <!-- Circle Buttons -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Password</h6>
                            </div>
                            {{#if passwordmessage}}
                            <p class="text-center mt-4" style=" color: {{passwordmessage.color}}; ">
                                {{passwordmessage.message}}</p>
                            {{/if}}
                            <form action="/admin/changePassword" id="submit-form" method="post">
                                <div class="card-body">
                                    <div class="form-group mt-3 col-md-12">
                                        <label for="oldpassword">Old Password</label>
                                        <input style="border-color:#b4e3eb;" type="password"
                                            class="form-control col-md-12 mt-2" id="oldpassword" name="oldpassword"
                                            required>
                                    </div>
                                    <p class="p-2">Don’t use a password from another site, <br>or something too obvious
                                        like
                                        your pet’s name.</p>
                                    <div class="text-center registrationFormAlert" style="color:green;"
                                        id="SuccessPasswordMatch"></div>
                                    <div class=" text-center registrationFormAlert" style="color:red;"
                                        id="ErrorPasswordMatch"></div>
                                    <div class="form-group mt-3 col-md-12">
                                        <label for="newpassword">New Password</label>
                                        <input style="border-color:#b4e3eb;" type="password"
                                            class="form-control col-md-12 mt-2" id="newpassword" name="newpassword"
                                            required>
                                    </div>
                                    <div class="form-group mt-3 col-md-12">
                                        <label for="confirmpassword">Confirm password</label>
                                        <input style="border-color:#b4e3eb;" type="password"
                                            class="form-control col-md-12 mt-2" id="confirmpassword"
                                            name="confirmpassword" required>
                                    </div>
                                    <div class="form-group">
                                        <input class="ml-3" type="checkbox" onclick="myFunction()"> Show Password
                                    </div>

                                    <center>
                                        <a href="/admin/settings" class="btn btn-danger  mt-3 mr-2 ">Cancel</a>
                                        <button type="submit" id="changePasswordSubmit"
                                            class="btn btn-success  mt-3">Change
                                            Details</button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkPasswordMatch() {
            var password = $("#newpassword").val();
            var confirmPassword = $("#confirmpassword").val();
            if (password != confirmPassword) {
                $("#ErrorPasswordMatch").html("Passwords does not match!");
                $("#SuccessPasswordMatch").html(" ");
                $("#changePasswordSubmit").prop("disabled", true);
            }
            else {
                $("#SuccessPasswordMatch").html("Passwords match.");
                $("#ErrorPasswordMatch").html(" ");
                $("#changePasswordSubmit").prop("disabled", false);
            }
        }
        $(document).ready(function () {
            $("#confirmpassword").keyup(checkPasswordMatch);
        });

        function myFunction() {
            var x = document.getElementById("newpassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>