<title>Admin Login</title>
<!-- admin page styles for this template-->
<link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

<!-- admin Custom styles for this page -->
<link href="/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<body style="background-color: white; background-image: linear-gradient(180deg, white 10%, white 100%);"
    class="bg-gradient-primary">
    {{!--
    <script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script> --}}
    <div class="container">

        <!-- Outer Row -->
        <div style=" margin-top: 107px;" class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img style="object-fit: cover;  height: 220px;  margin: 13%;  padding-left: 13%;"
                                    src="/images/58763-logo-computer-apple-icons.png" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4 mt-3">Admin login</h1>
                                    </div>
                                    <form class="user" action="/admin/login" method="POST">
                                        <div class="form-group">
                                            <input style="padding: 21px; border-radius: 8px;" type="text" class="form-control form-control-user" id="username"
                                                name="username" aria-describedby="emailHelp" placeholder="User name">
                                        </div>
                                        <div class="form-group">
                                            <input style="padding: 21px; border-radius: 8px;"  type="password" name="password"
                                                class="form-control form-control-user" id="exampleInputPassword"
                                                placeholder="Password">
                                        </div>
                                        <button  type="submit"
                                            class="p-2 btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                        {{!-- <div class=" text-center m-3 login-google">
                                            <a style="border-radius: 24px; border-color: #ffa9df; background-color: white; color: black; text-decoration: none;"
                                                class="btn btn-success" href="/google"><img
                                                    src="/images/icons8-google-35.png"> Google</a>
                                        </div> --}}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Login Worning-->
        {{#if adminLoginError}}
        <div class="modal fade show" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-modal="true" style=" margin-top: 220px;display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                    </div>
                    <div class="modal-body text-danger">{{adminLoginError}}</div>
                    <div class="modal-footer">
                        <center><a class="btn btn-dark" href="/admin">OK</a></center>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}


</body>

</html>