<title> Admin | Profile</title>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {{>admin-sidebar}}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">



                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Profile</h1>

                    <div class="row">

                        <div class="col-lg-7">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Photo</h6>
                                </div>
                                <div class="message p-3">
                                    {{#if imagesucc}}
                                    <div class="alert alert-success" role="alert">
                                        {{imagesucc}}
                                    </div>
                                    {{/if}}
                                    {{#if imgerror}}
                                    <div class="alert alert-danger" role="alert">
                                        {{imgerror}}
                                    </div>
                                </div>
                                {{/if}}
                                <form action="/admin/profile/{{admin._id}}" class="text-center" id="submit-form" method="post" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div class="form-group mt-3 col-md-12">
                                            <label for="photo">Profile Photo</label><br>
                                            <img src="/admin-photo/{{admin._id}}.jpg" class="mt-2" id="imgView"
                                                style=" border-radius: 125px;" width="250px" height="250px"
                                                alt="Photo ">
                                            <input style="border-color:#b4e3eb;" type="file"
                                                class="form-control col-md-12 mt-5" name="Image"
                                                onchange="viewImage(event)" required>
                                        </div>
                                        <center><a href="/admin/dashboard"
                                                class="btn btn-danger  mt-3 mr-2 ">Cancel</a>
                                            <button type="submit" id="submit"
                                                class="btn btn-success  mt-3">Submit</button></center>
                                    </div>
                                </form>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

</body>

<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>