  <!-- footer section -->
  <footer>
    <section class="mt-3 footer-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="m-3 footer-head-text">
              <span>*Listed pricing is Maximum Retail Price (inclusive of all taxes).<br></span><br>
              <span> Apple TV+ is ₹99/month after free trial. One subscription per Family Sharing group. Offer is valid
                for 3 months after eligible device activation. Plan automatically renews until <br> cancelled.
                Restrictions and other terms apply.</span>
            </div>
            <hr>
          </div>
          <div class="col-sm-1 col-md-3">
            <h5 id="column-1" onclick="moreItems()" class="directory-column-section-head">Shop and Learn<i id="icon-1"
                class="list-items fas fa-plus"></i></h5>
            <hr class="column-hr">
            <ul id="list-1" class="ml-3 column-list">
              <li class="column-list-item">Mac</li>
              <li class="column-list-item">iPhone</li>
              <li class="column-list-item">Watch</li>
              <li class="column-list-item">AirPods</li>
              <li class="column-list-item">Tv</li>
            </ul>
          </div>
          <div class=" col-md-3">
            <h5 id="column-2" onclick="moreItems(2)" class="directory-column-section-head"> Services<i id="icon-2"
                class="list-items fas fa-plus"></i></h5>
            <hr class="column-hr">
            <ul id="list-2" class="ml-3  column-list">
              <li class="column-list-item">Apple Music</li>
              <li class="column-list-item">Apple TV+</li>
              <li class="column-list-item">Apple Arcade</li>
              <li class="column-list-item">iCloud</li>
              <li class="column-list-item">Apple One</li>
              <li class="column-list-item">Apple Books</li>
              <li class="column-list-item">App Store</li>
            </ul>
          </div>
          <div class=" col-md-3">
            <h5 class="directory-column-section-head">Apple Store<i class="list-items fas fa-plus"></i></h5>
            <hr class="column-hr">
            <ul class="ml-3  column-list">
              <li class="column-list-item">Shop Online</li>
              <li class="column-list-item">Ways to Buy</li>
              <li class="column-list-item">Apple Trade In</li>
              <li class="column-list-item">Recycling Programme</li>
              <li class="column-list-item">Order Status</li>
              <li class="column-list-item">Shopping Help</li>
            </ul>
          </div>
          <div class=" col-md-3">
            <h5 class="directory-column-section-head"> Apple Values<i class="list-items fas fa-plus"></i></h5>
            <hr class="column-hr">
            <ul class="ml-3  column-list">
              <li class="column-list-item">Accessibility</li>
              <li class="column-list-item">Environment</li>
              <li class="column-list-item">Privacy</li>
              <li class="column-list-item">Supplier Responsibility</li>
            </ul>
          </div>
          <div class="col-md-12">
            <span class="more-shop"> More ways to shop:Find a retailer near you. </span>
            <hr class="section-hr">
          </div>
          <div class="mb-2 col-md-12">
            <span class="copyright">Copyright © 2021 Apple Inc. All rights reserved.</span>
            <a class="copyright" href="">| Privacy Policy</a>
          </div>
        </div>
      </div>
    </section>
  </footer>
