  <!-- //header section -->
  <header style=" line-height: 0.8;">
    <div class="row">
      <div class="col-md-12">
        <!-- hamburger menu for small devices -->

        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" id="closebtn" class="closebtn" onclick="openNav()"><i
              style="font-size: 26px; font-weight: 100;" class="fas fa-equals"></i><a>
                
              <div class="sm-header">
                <a id="apple-logo" href="index.html" class="apple-logo"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg"
                    style="    height: 53px;" alt=""></a>

                <a id="sm-bag" onclick="opensmBag()" class="text-light bag"><i
                    style="font-weight: 100;    font-size: 20px;" class="nav-icon fas fa-shopping-bag"></i></a>
              </div>

              <input class="search-bar mb-3 p-3 mr-3 ml-3" type="text" placeholder="  ðŸ” Search apple.com">
              <hr class=" hamburger-hr">
              <a href="mac.html">iMac</a>
              <hr style="margin-left: 20px; margin-right: 20px;">
              <hr class="ml-4 mr-4 hamburger-hr">

              <a href="iphone.html">iPhone</a>
              <hr style="margin-left: 20px; margin-right: 20px;">
              <hr class="ml-4 mr-4 hamburger-hr">

              <a href="#">Watch</a>
              <hr style="margin-left: 20px; margin-right: 20px;">
              <hr class="ml-4 mr-4 hamburger-hr">

              <a href="support.html">Support</a>
              <hr style="margin-left: 20px; margin-right: 20px;">
              <hr class="ml-4 mr-4 hamburger-hr">

              <a href="#">Music</a>
        </div>
        <!-- Bag for sm devices -->
        <div id="dropdown-content-sm" class=" p-3 mb-2 dropdown-content-sm">
          <p class="bag-items-list m-4 p-1" style="color: #6e6e73; font-size: 13px;">Your Bag is empty.</p>
          <div class="bag-options p-1  pl-4 pr-4">
            <hr>
            <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 fas fa-shopping-bag"></i>Bag</a>
            <hr>
            <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 far fa-heart"></i>
              Favourites</a>
            <hr>
            <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 fas fa-box"></i>
              Orders</a>
            <hr>
            <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 fas fa-cog"></i>
              Account</a>
            <hr>
            <a class="content-align" href=""><i style="font-weight: 100;" class="mr-2 fas fa-user-circle"></i>Sign
              in</a>
          </div>
        </div>

        <!-- hamburger menu for small devices -->


        <nav id="navbar" style="    position: fixed; width: 100%; z-index: 1;"
          class="navdbar navbar-expand-md nav-bg  navbar-dark">
          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar links -->
          <div class=" content collapse navbar-collapse" id="collapsibleNavbar">
            <ul style="align-items: center;" class="center navbar-nav">
              <li class="nav-item-box nav-item">
                <a class=" nav-link" href="index.html"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_apple_image__cxwwnrj0urau_large.svg"
                    alt=""></a>
              </li>
              <li class="nav-item-box nav-item">
                <a class="nav-link" href="mac.html"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_mac_image__fv4ktb435mum_large.svg"
                    alt=""></a>
              </li>

              <li class="nav-item-box nav-item">
                <a class="nav-link" href="iphone.html"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_iphone_image__dhepc4hn14cy_large.svg"
                    alt=""></a>
              </li>
              <li class="nav-item-box nav-item">
                <a class="nav-link" href="#"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_watch_image__dfo5u4bhooqe_large.svg"
                    alt=""></a>
              </li>
              <li class="nav-item-box nav-item">
                <a class="nav-link" href="support.html"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_support_image__b24reo1n4fbm_large.svg"
                    alt=""></a>
              </li>
              <li class="nav-item-box nav-item">
                <a class="text-white nav-link " href="#"><img
                    src="https://www.apple.com/ac/globalnav/6/en_IN/images/be15095f-5a20-57d0-ad14-cf4c638e223a/globalnav_links_music_image__bewxrazzig02_large.svg"
                    alt=""></a>
              </li>
              <li class="nav-item-box nav-item">
                <a class="text-white nav-icon nav-link " href="#"><i style="font-weight: 100;"
                    class=" fa fa-search"></i></a>
              </li>

              <!-- //bag section -->
              <li class="nav-item-box nav-item">
                <div class=" dropdown">
                  <i id="bag" onclick="openBag()" style="font-weight: 100;"
                    class="text-white nav-icon fas fa-shopping-bag"></i>
                  <div id="dropdown-content" class="p-3 mb-2 dropdown-content">
                    <p class="m-4 p-1" style="color: #6e6e73; font-size: 13px;">Your Bag is empty.</p>
                    <hr>
                    <a class="content-align" href="#"><i style="font-weight: 100;"
                        class="mr-2 fas fa-shopping-bag"></i>Bag</a>
                    <hr>
                    <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 far fa-heart"></i>
                      Favourites</a>
                    <hr>
                    <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 fas fa-box"></i>
                      Orders</a>
                    <hr>
                    <a class="content-align" href="#"><i style="font-weight: 100;" class="mr-2 fas fa-cog"></i>
                      Account</a>
                    <hr>
                    <a class="content-align" href="#"><i style="font-weight: 100;"
                        class="mr-2 fas fa-user-circle"></i>Sign in</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>