<section class="bg-white ribbon">
    <div class="bg-white container">
        <div style="border-bottom: 1px solid #d2d2d7;" class="row ">
            <div class="pt-3 bg-white ribbon-covid-19 col-md-4 col-4">
                <p class="text-center shipping-ribbon-text">Account </p>
            </div>
            <div class="pt-3 bg-white ribbon-covid-19 col-md-8 col-8">
                <a style="float: right;" class="content-align" href="/logout"><i style="font-weight: 100;"></i>Sign out
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="text-center username-container">
                    <h2 class="rs-header-welcome-text">Hi, {{user.firstname}}.</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section style="background-color: #f5f5f7;">
    <div class="containerj ">
        <div class="row p-3">
            <div class=" col-md-6 ">
                <div class="bg-white p-5 m-2">
                    <div class="rs-account-link-tile-inner">
                        <h2 class="p-1 rs-account-link-tile-title">Your Orders</h2>
                    </div>
                    <h3 class="p-1 rs-account-link-tile-description ">Track an order</h3>
                    <a class="p-1" style="font-size: 17px;" href="/order">See your order history <i style="font-size: 11px;"
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>

            <div class=" col-md-6">
                <div class="bg-white p-5 m-2">
                    <div class="rs-account-link-tile-inner">
                        <h2 class="p-1 rs-account-link-tile-title">Your Favorites</h2>
                    </div>
                    <h3 class="p-1 rs-account-link-tile-description ">You favorite products.</h3>
                    <a class="p-1" style="font-size: 17px;" href="/favorites">See your Favorites <i style="font-size: 11px;"
                            class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-5">
                <div class="rs-account-link-tile-inner">
                    <h2 class="p-1 rs-account-link-tile-title">Account Settings</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mt-4">
                <p class="text-center shipping-ribbon-text">Shipping</p>
            </div>
            <div class="col-md-3 mt-4">
                <h3 class=" rs-account-link-tile-description ">Shipping address.</h3>
                <p> Clevin
                    Wilson
                    chandanakkampara po
                    payyavoor
                    Bangalore,
                    KA
                    560063,
                    India</p>
                <a href="">Edit</a>
            </div>
            <div class="col-md-3 mt-4">
                <h3 class=" rs-account-link-tile-description ">Contact information</h3>
                <p> clevinmwilson@gmail.com</p>
                <a href="">Edit</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-3">
                <p class="text-center shipping-ribbon-text mt-4">Privacy</p>
            </div>
            <div class="col-md-9 mt-4">
                <h3 class=" rs-account-link-tile-description ">Personal information</h3>
                <p> You're in control of your personal information and can manage your data or delete your account at
                    any time. Apple is committed to protecting your privacy.</p>
                <a href="">Manage my personal information </a>
            </div>

        </div>
    </div>
</section>