   <!-- chapter navbar -->
    <section id="chapter" class="chpater scrollmenu">
        <div class="container text-center">
            <div class="row">
                <div class="chapternav">
                    <ul class="chpater-items">
                        <li class="chapter-item ml m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon" src="images/macbookair_light__fj8r9488gr6u_large.svg" alt="">
                                <p class="chapter-label">MacBook Air</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-macbook-pro-13"
                                    src="images/macbook_pro_13_light__erjvypflcis2_large.svg" alt="">
                                <p class="chapter-label">MacBook Pro 13”</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon" src="images/macbook_pro_16_light__cialfoihbk02_large.svg"
                                    alt="">
                                <p class="chapter-label">MacBook Pro 16”</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-imac-24"
                                    src="images/imac_24__e0tdvilut5qq_large.svg" alt="">
                                <p class="chapter-label">iMac 24”</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-imac-27"
                                    src="images/imac_27_light__gbkfmaud0qaa_large.svg" alt="">
                                <p class="chapter-label">iMac 24”</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-mac-pro"
                                    src="images/mac_pro_light__dq2h14cvit6q_large.svg" alt="">
                                <p class="chapter-label">Mac Pro</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-mac-mini "
                                    src="images/mac_mini_light__chxdj29efvrm_large.svg" alt="">
                                <p class="chapter-label">Mac mini</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-compare "
                                    src="images/mac_compare__cixm3zhf3k76_large.svg" alt="">
                                <p class="chapter-label">Compare</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-pro-display-xdr"
                                    src="images/mac_pro_display_light__ditp43qhvlm6_large.svg" alt="">
                                <p class="chapter-label">Pro Display XDR</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-accessories"
                                    src="images/mac_accessories_light__bow96z0024qa_large.svg" alt="">
                                <p class="chapter-label">Accessories</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-5 chapternav-list-sm-margin ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-macos"
                                    src="images/mac_os__e6brlkg0n10m_large.svg" alt="">
                                <p class="chapter-label">Big Sur</p>
                            </a>
                        </li>

                    </ul>

                    <button id="left-paddle" style="outline: none; border-right: 1px solid #e8e8e8;"
                        class="left-paddle paddle hidden">
                        <i class="bi bi-chevron-left paddle-icon"></i>
                    </button>
                    <button id="right-paddle" style="outline: none;border-left: 1px solid #e8e8e8;"
                        class="right-paddle paddle">
                        <i class="bi bi-chevron-right paddle-icon"></i>
                    </button>

                </div>

            </div>
        </div>
    </section>

    <script>
        var leftButton = document.querySelector('.left-paddle');
        leftButton.addEventListener('click', () => {
            document.getElementById('chapter').scrollLeft -= 250;
        })
        var rightButton = document.querySelector('.right-paddle');
        rightButton.addEventListener('click', () => {
            document.getElementById('chapter').scrollLeft += 250;
        })
    </script>



    <!-- ribborn -->
    <section class="mt-0 ribbon">
        <div class="bg-light container">
            <div class="row ">
                <div class="pt-3 ribbon-covid-19 col-md-12">
                    <p class="text-center ribbon-text">Shop now at the Apple Store online with many great ways to buy.
                        Get free,
                        no-contact delivery, Specialist help and <a href="#"> more <i
                                class="fas fa-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- imac banner -->
    <section class="pt-5 bg-white">
        <div class="row">
            <div class="pt-2 col-md-12">
                <div class="text-center text-light text">
                    <h4 class="imac-promo-title">New</h4>
                    <h2 class="imac-header-text ">iMac</h2>
                    <h3 class="imac-sub-text text-dark"> Say hello.</h3>
                    <h4 class="imac-price">From ₹119900*</h4>
                    <p><a href="" class="buy-btn btn btn-primary">Buy</a> </p>
                    <div class="mt-1 banner-links">
                        <a href="">Learn more <i
                                class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                    </div>
                    <div class="p-5 banner-image-box imac-banner">
                        <img id="imacImage" class="imac-image" src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- product listing trigger -->
    <section style="background-color: #fafafa;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 product-listing">
                    <div class="heading text-center ">
                        <h2 class="typography-headline">Which Mac is right for you?</h2>
                        <div style="font-size: 17px;" class="m-4 banner-links text-center  ">
                            <a href="">Compare all Mac models <i style="font-size: 10px;"
                                    class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class=" mt-3 m-1 tablist-wrapper">
                        <ul style=" padding: 0px 0px 0px 0px;  display: flex;justify-content: center;"
                            class="tadbnav-items">
                            <li class="tabnav-item notebook-list">
                                <a class="product-trigger text-secondary notebook" id="notebook">Notebook</a>
                            </li>
                            <li class="tabnav-item  ">
                                <a class="product-trigger text-secondary desktop" id="desktop">Desktop</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- notebook -->


            <div id="notebook-section" class="row m-1">
                <div class="col-md-4 col-6 p-0 ">
                    <div class="product-image-outer text-center">
                        <img class="product-image" src="images/compare_mba__gdncw5gbxoq6_large.png" alt="Product image">
                        <div class="device-title">
                            <h3 class="device-name">MacBook Air</h3>
                            <p class="device-price ">From ₹92900*</p>
                            <img class="device-colors"
                                src="images/compare_swatches_three_colors__e2hki8qb5cia_large.png" alt="">
                            <div class="product-buy">
                                <a href="" class="device-buy-btn  btn btn-primary">Buy</a>
                            </div>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">(13.3″) Retina display1</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_m1__fz8nzgohw2ai_large.png" alt="">
                            <p class="mt-2 device-details-text">Apple M1 chip</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_unified_memory__buw4hhhvj4uq_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 16GB unified memory</p>
                            <p class="device-subtext">For increased performance and power efficiency</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">2TB</h4>
                            <p class="device-details-text">Maximum configurable storage2</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_battery__gbh9jzw6c7u6_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 18 hours battery life3</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_camera__ejp1p20yq1me_large.png" alt="">
                            <p class="mt-2 device-details-text">1.29 kg</p>
                            <p class="device-subtext">With the image signal processor of M1 for drastically improved
                                performance</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">Weight</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_touchid__e9878ag21q6i_large.png" alt="">
                            <p class="mt-2 device-details-text">Touch ID</p>
                        </div>
                        <div class="product-link">
                            <a style="font-size: 14px; letter-spacing: 0.02em;" href=""> Learn more <span
                                    style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-6 p-0">
                    <div class="product-image-outer text-center">
                        <img class="product-image" src="images/compare_mbp13__geounnnz6oa6_large.png"
                            alt="Product image">
                        <div class="device-title">
                            <h3 class="device-name">MacBook Pro 13″</h3>
                            <p class="device-price ">From ₹110000*</p>
                            <img class="device-colors"
                                src="images/compare_swatches_three_colors__e2hki8qb5cia_large.png" alt="">
                            <div class="product-buy">
                                <a href="" class="device-buy-btn  btn btn-primary">Buy</a>
                            </div>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">(13.3″) Retina display1</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_m1__fz8nzgohw2ai_large.png" alt="">
                            <p class="mt-2 device-details-text">Apple M1 chip</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_unified_memory__buw4hhhvj4uq_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 16GB unified memory</p>
                            <p class="device-subtext">For increased performance and power efficiency</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">2TB</h4>
                            <p class="device-details-text">Maximum configurable storage2</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_battery__gbh9jzw6c7u6_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 18 hours battery life3</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_camera__ejp1p20yq1me_large.png" alt="">
                            <p class="mt-2 device-details-text">1.29 kg</p>
                            <p class="device-subtext">With the image signal processor of M1 for drastically improved
                                performance</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">Weight</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_touchid__e9878ag21q6i_large.png" alt="">
                            <p class="mt-2 device-details-text">Touch ID</p>
                        </div>
                        <div class="product-link">
                            <a style="font-size: 14px; letter-spacing: 0.02em;" href=""> Learn more <span
                                    style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-6 p-0">
                    <div class="product-image-outer text-center">
                        <img class="product-image" src="images/compare_mbp16__fykfvftfaeuu_large.png"
                            alt="Product image">
                        <div class="device-title">
                            <h3 class="device-name">MacBook Pro 16”</h3>
                            <p class="device-price ">From ₹199900*</p>
                            <img class="device-colors" src="images/compare_swatches_two_colors__02sdegyq25eq_large.png"
                                alt="">
                            <div class="product-buy">
                                <a href="" class="device-buy-btn  btn btn-primary">Buy</a>
                            </div>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">(13.3″) Retina display1</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_m1__fz8nzgohw2ai_large.png" alt="">
                            <p class="mt-2 device-details-text">Apple M1 chip</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_unified_memory__buw4hhhvj4uq_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 16GB unified memory</p>
                            <p class="device-subtext">For increased performance and power efficiency</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">2TB</h4>
                            <p class="device-details-text">Maximum configurable storage2</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_battery__gbh9jzw6c7u6_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 18 hours battery life3</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_camera__ejp1p20yq1me_large.png" alt="">
                            <p class="mt-2 device-details-text">1.29 kg</p>
                            <p class="device-subtext">With the image signal processor of M1 for drastically improved
                                performance</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">Weight</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_touchid__e9878ag21q6i_large.png" alt="">
                            <p class="mt-2 device-details-text">Touch ID</p>
                        </div>
                        <div class="product-link">
                            <a style="font-size: 14px; letter-spacing: 0.02em;" href=""> Learn more <span
                                    style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- desktop -->


            <div id="desktop-section" class="row m-1">
                <div class="col-md-3 col-6 p-0 ">
                    <div class="product-image-outer text-center">
                        <img class="product-image" src="images/compare_imac24__5aryzjnxeki2_large_2x.png"
                            alt="Product image">
                        <div class="device-title">
                            <h3 class="device-name">iMac 24″</h3>
                            <p class="device-price ">From ₹119900*</p>
                            <img class="device-colors" style="    object-fit: cover;width: 165px;height: 100%;"
                                src="images/compare_swatches_multicolor__gj5za8k7kbyq_large_2x.png" alt="">
                            <div class="product-buy">
                                <a href="" class="device-buy-btn  btn btn-primary">Buy</a>
                            </div>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">(13.3″) Retina display1</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_m1__fz8nzgohw2ai_large.png" alt="">
                            <p class="mt-2 device-details-text">Apple M1 chip</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_unified_memory__buw4hhhvj4uq_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 16GB unified memory</p>
                            <p class="device-subtext">For increased performance and power efficiency</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">2TB</h4>
                            <p class="device-details-text">Maximum configurable storage2</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_battery__gbh9jzw6c7u6_large.png" alt="">
                            <p class="mt-2 device-details-text">Up to 18 hours battery life3</p>
                        </div>
                        <div class="device-chip mt-5 ">
                            <img src="images/compare_icon_camera__ejp1p20yq1me_large.png" alt="">
                            <p class="mt-2 device-details-text">1.29 kg</p>
                            <p class="device-subtext">With the image signal processor of M1 for drastically improved
                                performance</p>
                        </div>
                        <div class="mt-5 device-details">
                            <h4 class="device-details-head">33.74 cm</h4>
                            <p class="device-details-text">Weight</p>
                        </div>
                        <div class="device-memory mt-5">
                            <img src="images/compare_icon_touchid__e9878ag21q6i_large.png" alt="">
                            <p class="mt-2 device-details-text">Touch ID</p>
                        </div>
                        <div class="product-link">
                            <a style="font-size: 14px; letter-spacing: 0.02em;" href=""> Learn more <span
                                    style="font-size: 9px;" class="fas fa-chevron-right"></span></a>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </section>


    <!-- Accessories banner -->
    <section class="pt-5 bg-white">
        <div class="row">
            <div class="pt-4 col-md-12 device-accessories-section ">
                <div class="text-center text-light text">
                    <div class="m-3 p-2">
                        <h3 class="imac-sub-text text-dark accessories-head-text">Accessories</h3>
                        <h2 class="imac-header-text mb-4 mt-2 accessories-text">Explore Mac accessories.</h2>
                        <p><a href="" style="width: 71px;" class="buy-btn btn btn-primary">Shop</a> </p>
                    </div>
                    <div class=" banner-image-box imac-banner">
                        <img id="accessories-image" class="accessories-image"
                            src="images/accessories_tile__dzhi6y7btcwi_large.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- mac os banner -->
    <section class="p-3 mt-3 macos-section">
        <div class="row macos-outer">
            <div class="col-md-6 macos">

                <h3 class="imac-sub-text text-dark accessories-head-text">macOS Monterey</h3>
                <h2 class="imac-header-text  accessories-text">High powered meets “Hi everyone”.</h2>
                <a href="">See the preview <i style="font-size: 9px;"
                        class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>

            </div>
            <div class="col-md-6 mt-4">
                <img class="macos-image" src="images/monterey_tile__05gxr4xhdn6e_large.jpg" alt="">
            </div>
        </div>
    </section>



    <!-- product listing -->
    <section class="product-listing-section">
        <div class="container">

        </div>
    </section>
<!-- //paddle -->
<style>
    .left-paddle {
        display: none;
    }

    .right-paddle {
        display: none;
    }
</style>



<script>
    function screenSize() {
        if (screen.width < 735) {
            var imacImage = document.querySelector("#imacImage").src = "images/hero_imac_24__eq5phrdpwjyq_small_2x.jpg";

        }
        else {
            var imacImage = document.querySelector("#imacImage").src = "images/hero_imac_24__eq5phrdpwjyq_large.jpg";

        }


        //paddile change when based on scrollbar active or not

        let scrollBar = document.getElementById('chapter')
        let hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
        if (hBar) {
            document.getElementById('left-paddle').style.display = 'block'
            document.getElementById('right-paddle').style.display = 'block'
        } else {
            document.getElementById('left-paddle').style.display = 'none'
            document.getElementById('right-paddle').style.display = 'none'
        }



    }

    if (screen.width < 735) {
        var imacImage = document.querySelector("#imacImage").src = "images/hero_imac_24__eq5phrdpwjyq_small_2x.jpg";


    }
    else {
        var imacImage = document.querySelector("#imacImage").src = "images/hero_imac_24__eq5phrdpwjyq_large.jpg";

    }


    //  notebook or desktop page trigger
    var notebook = document.querySelector('#notebook');
    notebook.addEventListener('click', () => {
        document.getElementById("desktop-section").style.display = "none";
        document.getElementById("notebook-section").style.display = "flex";

    })

    var desktop = document.querySelector('#desktop');
    desktop.addEventListener('click', () => {
        document.getElementById("notebook-section").style.display = "none";
        document.getElementById("desktop-section").style.display = "flex";
    })
    document.getElementById("desktop-section").style.display = "none";

    // activat paddi 
    var scrollBar = document.getElementById('chapter')
    var hBar = scrollBar.scrollWidth > scrollBar.clientWidth;
    if (hBar) {
        document.getElementById('left-paddle').style.display = 'block'
        document.getElementById('right-paddle').style.display = 'block'
    } else {
        document.getElementById('left-paddle').style.display = 'none'
        document.getElementById('right-paddle').style.display = 'none'
    }



</script>


<!-- notebook or desktop selector  -->
<style>
    .tadbnav-items li.active {
        border-bottom: 1px solid black;
    }
</style>

<script>
    var li = $(".tadbnav-items li");

    li.click(function () {
        li.removeClass("active");
        $(this).addClass("active");
    });

    var noteBook = $(".notebook-list");
    noteBook.addClass("active");




</script>