   <!-- ribborn -->
    <section class="bg-light ribbon">
        <div class="bg-light container">
            <div class="row ac-ln-content ">
                <div class="col-md-6 col-6">
                    <div class="pt-3 ribbon-covid-19 col-md-12">
                        <h2 style="font-size: 22px; font-weight: 600;">iPhone 12</h2>
                    </div>
                </div>
                <div class="col-md-6 col-6 text-center mt-2">
                    <a href="buy-product.html" style="float: right;" class="device-buy-btn  btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    </section>

    <!-- video-container show -->
    <section style="background-color: #f1eff1;" class=" hero-video-wrapper">
       <div class="row">
        <div class="col-md-12 p-0 iphone-video-head">
            <div class="mt-4">
                <div class="iphone-video-container">
                    <video class="iphone-video" src="videos/iphone-large_2x.mp4"  width="100%" autoplay="" muted=""
                        height="auto"></video>

                </div>
            </div>
        </div>
        <div  class="col-md-12 m-2 ">
            <div class="iphone-text-container text-center">
                <h3 class="iphone-sub-text imac-sub-text text-dark mt-3">iPhone 12 and iPhone 12 mini</h3>
                <h2 class="iphone-header-text imac-header-text mt-3 ">Blast past fast.</h2>
                <h3 class="iphone-sub-text imac-sub-text text-dark mt-3">A14 Bionic, the fastest chip in a smartphone.
                    An edge-to-edge OLED display. Ceramic Shield with four times better drop performance. And Night mode
                    on every camera. iPhone 12 has it all — in two perfect sizes.</h3>
                <h3 style="color: #7e7e7e;" class="iphone-sub-text imac-sub-text mt-3">From ₹69900</h3>
            </div>
        </div>
       </div>

    </section>

