<section style="margin-top: 60px; margin-bottom: 100px;">
    <div class="container">
        <div class="row signup-form-marginl-lg">
            <div style="max-width: 423px;" class="col-md-6 mt-5 ">
                <div class="signin-header  ">
                    <h1 class="signin-header-text p-3 mb-4"> Please sign in. </h1>
                </div>
                <div class="signin-form-container ">
                     {{#if loginError}}
                                    <div class="alert alert-danger" role="alert">
                                        {{loginError}}
                                    </div>
                    {{/if}}
                    <form action="/signin" method="POST">
                        <div class="form-group ">
                            <input type="email" class="form-control signin-input  " id="email" placeholder="Apple ID"
                                name="email">
                        </div>

                        <div class="form-group ">
                            <input type="password" class="form-control signin-input" id="pwd" placeholder="Password"
                                name="password">
                        </div>
                        <div class="form-group form-itune-text">
                            <p class="pl-1">Your Apple ID is the email address or mobile phone number you use to sign in to iTunes,
                                the App Store, and iCloud.</p>
                        </div>
                        <div class="button-submit">
                            <button type="submit"  class="btn btn-primary signin-btn">Sign In</button>
                        </div>
                    </form>
                    </form>
                </div>
                <div class="create-account-text-container mt-4 ">
                    <a class="pl-1" href="/signup">Don’t have an Apple ID? Create one now.</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="border-top: 1px solid #d2d2d7;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <p>Need more help? <a href="#"> Chat now </a> or call <a href="tel://000800 040 1966">000800 040
                        1966</a></p>
            </div>
        </div>
    </div>
</section>