<!-- sighn up ribborn -->
<section class="bg-light ribbon">
    <div class="bg-light container">
        <div class="row ac-ln-content ">
            <div class="col-md-6 col-6">
                <div class="pt-3 ribbon-covid-19 mb-1 col-md-12">
                    <h2 style="font-size: 22px; font-weight: 600;">Apple ID</h2>
                </div>
            </div>
            <div class="col-md-6 col-6 text-center mt-3">
                <a href="" style="float: right; font-size: 12px;" class="text-dark ">Sign In</a>
            </div>
        </div>
    </div>
</section>

<!-- apple id banner -->
<section class=" appleid-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="signup-text-container ">
                    <h1 class="appleid-text">Create Your Apple ID</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-ribborn">
    <div class="container">
        <div class="row">
            <div style="padding-top: 30px;" class="col-md-12 ">
                <div class="intro text-center">
                    <h6 class="intro-text  ">One Apple ID is all you need to access all Apple services. <br>
                        You already have an Apple ID? <a href="">Find it here<i class="bi bi-chevron-right"></i>
                        </a></h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4">
    <div class="container">
        <div class="row form-container ">
            <div class=" col-md-12 text-center ">
                <form action="" id="signupform">
                    {{#if signupError}}
                                    <div class="alert alert-danger" role="alert">
                                        {{signupError}}
                                    </div>
                    {{/if}}
                    <div class="row text-center">
                        <p class="col-md-12 password-notmatch-text p-2 fiel-missing"> Field is missing</p>
                        <div class="  form-group col-md-6">
                            <input type="text" class="form-input-padding form-control" id="firstname" name="firstname"
                                placeholder="first name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-input-padding form-control" id="lastname" name="lastname"
                                placeholder="last name" required>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" class=" form-input-padding form-control" id="email"  name="email"
                                placeholder="name@example.com" required>
                            <p class="m-1 text-secondary" style="text-align: left; font-size: 15px;">This will be
                                your new Apple ID.</p>
                        </div>
                        <div class="form-group col-md-12">
                            <p class="password-notmatch-text confirm-password-error-text"> The passwords you entered
                                do not match.</p>
                            <input type="password" id="password" class=" form-input-padding form-control" minlength="4"
                                placeholder="password">

                        </div>

                        <div class="form-group col-md-12">
                            <input type="password" id="confirm-password" name="password"
                                class=" form-input-padding form-control" minlength="4" placeholder="confirm password">
                        </div>

                        <div class="form-group col-md-12">
                            <input type="number" id="phone-number" name="number"
                                class="  form-input-padding form-control"
                                oninput="javascript: if (this.value.length > this.maxLength ) this.value = this.value.slice(0, this.maxLength);"
                                placeholder="phone number" maxlength="10" minlength="10">
                            <p class="password-notmatch-text phone-error-text confirm-password-error-text"> </p>
                        </div>
                        <div class="col-md-12">
                            <p class="text-secondary" style="font-size: 15px !important; float: left;">Make sure you
                                enter a phone number you can always access.</p>
                        </div>
                        <div class="form-btn-container  col-md-12">
                            <a id="submit" onclick="Submitsignup()"
                                class="text-white form-submit-btn-style  btn btn-primary">Continue</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{{!--
<script>

    var confirmPasswordInput = document.getElementById('confirm-password');
    var passwordInput = document.getElementById('password');
    let password = document.getElementById('password');

    passwordInput.addEventListener('keyup', () => {
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        let passwordText = document.querySelector('.password-error-text');
        if (confirmPassword) {
            if (password == confirmPassword) {
                passwordText.classList.remove('show-password-notmatch-text')
                document.querySelector('#password').classList.remove('password-input-box-error');
                document.getElementById("submit").style.display = 'initial'
            } else {
                document.getElementById("submit").style.display = 'none'
                passwordText.classList.add('show-password-notmatch-text')
                passwordInput.classList.add('password-input-box-error')
                document.querySelector('#password').classList.add('password-input-box-error')
            }
        }
    })
    confirmPasswordInput.addEventListener('keyup', () => {
        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        let confirmPasswordText = document.querySelector('.confirm-password-error-text');
        if (password == confirmPassword) {
            confirmPasswordText.classList.remove('show-password-notmatch-text')
            document.querySelector('#confirm-password').classList.remove('password-input-box-error');
            document.getElementById("submit").style.display = 'initial'
        } else {
            document.getElementById("submit").style.display = 'none'
            confirmPasswordText.classList.add('show-password-notmatch-text')
            document.querySelector('#confirm-password').classList.add('password-input-box-error')

        }
    })


</script> --}}


<script>
    function Submitsignup() {
        let firstname= document.getElementById('firstname').value.toString().length;
        let lastname= document.getElementById('lastname').value.toString().length;
        let email= document.getElementById('email').value.toString().length;
        let passwordCount = document.getElementById('password').value.toString().length;
        let confirmPasswordCount = document.getElementById('confirm-password').value.toString().length;


        let password = document.getElementById('password').value;
        let confirmPassword = document.getElementById('confirm-password').value;
        let confirmPasswordText = document.querySelector('.confirm-password-error-text');
        var phoneNumberLength = document.getElementById('phone-number').value.toString().length;
        let phoneText = document.querySelector('.phone-error-text');
        if (firstname && lastname && email && passwordCount &&  confirmPasswordCount >3 ) {
            if (phoneNumberLength < 10) {
                phoneText.innerHTML = "Enter a valid phone number."
                phoneText.classList.add('show-password-notmatch-text')
                document.querySelector('#phone-number').classList.add('password-input-box-error');
            } else {
                if (password == confirmPassword) {
                    confirmPasswordText.classList.remove('show-password-notmatch-text')
                    document.querySelector('#confirm-password').classList.remove('password-input-box-error');
                    document.getElementById("submit").style.display = 'initial'

                    phoneText.classList.remove('show-password-notmatch-text')
                    document.querySelector('#phone-number').classList.remove('password-input-box-error');
                    $.ajax({
                        url: '/signup',
                        data: $("#signupform").serialize(),
                        method: "post",
                        success: function (response) {
                            if (response.status) {
                               window.location.href='/login'
                            }
                        }

                    })
                } else {
                    confirmPasswordText.classList.add('show-password-notmatch-text')
                    document.querySelector('#confirm-password').classList.add('password-input-box-error');


                }


            }
        }else{
            document.querySelector('.fiel-missing').classList.add('show-password-notmatch-text')
        }


    }

</script>