 <!-- chapter navbar -->
    <section id="chapter" class="chpater scrollmenu">
        <div class="container text-center">
            <div class="row">
                <div class="chapternav">
                    <ul class="chpater-items">
                        <li class="chapter-item ml m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img style="object-fit: contain;" class="chapter-icon" src="images/watch_nav_series_7_light__dv9ck4f6pyi6_large.svg" alt="">
                                <p class="chapter-label">Apple Watch Series 7</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img style="object-fit: contain;" class="chapter-icon chapternav-item-macbook-pro-13"
                                    src="images/watch_nav_se__en4ntkxi5guq_large.svg" alt="">
                                <p class="chapter-label">Apple Watch Series 6</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img style="object-fit: contain;" class="chapter-icon" src="images/watch_nav_se_light__c2mzuz6w15km_large.svg"
                                    alt="">
                                <p class="chapter-label">Apple Watch SE</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-imac-24"
                                    style="object-fit: contain;" src="images/ipad_light__fcshltpasu6i_large.svg" alt="">
                                <p class="chapter-label">iPad</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-imac-27"
                                    style="object-fit: contain;" src="images/apple_pencil_light__b56nts0623aq_large.svg" alt="">
                                <p class="chapter-label">Apple Pencil</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-mac-pro"
                                    src="images/mac_pro_light__dq2h14cvit6q_large.svg" alt="">
                                <p class="chapter-label">Mac Pro</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-2 m-3 mr-2">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-mac-mini "
                                    src="images/mac_mini_light__chxdj29efvrm_large.svg" alt="">
                                <p class="chapter-label">Mac mini</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-compare "
                                 style="object-fit: contain;"   src="images/watch_nav_compare__b9nnoiqjkxki_large.svg" alt="">
                                <p class="chapter-label">Compare</p>
                            </a>
                        </li>
                        
                        <li class="chapter-item ml-3 m-3 mr-3 ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-accessories"
                                    src="images/watch_nav_accessories__bu98chbn5rea_large.svg" alt="">
                                <p class="chapter-label">Accessories</p>
                            </a>
                        </li>
                        <li class="chapter-item ml-3 m-3 mr-5 chapternav-list-sm-margin ">
                            <a style="text-decoration: none;" href="" class="chapternav-link">
                                <img class="chapter-icon chapternav-item-macos"
                                    src="images/airpods_light__cpbagvnfsxea_large.svg" alt="">
                                <p class="chapter-label">AirPods</p>
                            </a>
                        </li>

                    </ul>

                    <button id="left-paddle" style="outline: none; border-right: 1px solid #e8e8e8;"
                        class="left-paddle paddle hidden">
                        <i class="bi bi-chevron-left paddle-icon"></i>
                    </button>
                    <button id="right-paddle" style="outline: none;border-left: 1px solid #e8e8e8;"
                        class="right-paddle paddle">
                        <i class="bi bi-chevron-right paddle-icon"></i>
                    </button>

                </div>

            </div>
        </div>
    </section>


    <!-- ribborn -->
    <section class="mt-0 ribbon">
        <div class="bg-light container">
            <div class="row ">
                <div class="pt-3 ribbon-covid-19 col-md-12">
                    <p class="text-center ribbon-text">Shop now at the Apple Store online with many great ways to buy.
                        Get free,
                        no-contact delivery, Specialist help and <a href="#"> more <i
                                class="fas fa-chevron-right"></i></a></p>
                </div>
            </div>
        </div>
    </section>     
     
     
      <!-- iphone13pro banner -->
    <section class="pt-5 bg-white">
        <div class="row">
            <div class="pt-2 col-md-12">
                <div class="text-center text-light text">
                    <img style="object-fit: contain;width: 132px;height: 51px;" src="/images/logo_watch_s7__dnxp9zoaom82_medium_2x.png" alt="">
                    <h2 class="imac-header-text mt-3 ">Full screen ahead.</h2>
                    <h3 class="text-dark banner-text">Available later this year.</h3>
                    <div class="mt-1 banner-links">
                        <a href="/iphone">Learn more <i
                                class="banner-links-icons font-weight-normal mt-3 fas fa-chevron-right"></i></a>
                    </div>
                    <div class=" banner-image-box imac-banner">
                        <img id="imacImage" class="imac-image iphone13pro-index-image" src="/images/hero_s7__ep2maoos292e_large.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ipad mini banner -->
<section style="background-color: #fafafa;" class="p-3 macos-section">
    <div class="row mt-5">
        <div class="col-md-6 macos">

            <img class="mb-3"
                    src="/images/logo-watch-se__soyna2pegxeq_large.png" alt="">
            <h3 class="imac-sub-text text-dark accessories-head-text">Heavy on features.Light on price.</h3>
            <h4 class="imac-price">From 29900*</h4>
            <a href="">Learn more <i style="font-size: 9px;"
                    class="banner-links-icons font-weight-normal fas fa-chevron-right"></i></a>

        </div>
        <div class="col-md-6 mt-4">
            <img class="macos-image ipadmini-image" src="images/tile-watch-se__knji2d25x8qe_large.jpg" alt="">
        </div>
    </div>
</section>



    <style>
    #mySidenav {

        opacity: 1 !important;
    }

    .nav-bg {
        opacity: 1 !important;
    }
</style>

<script>
    //paddle button scrolling function 
    var leftButton = document.querySelector('.left-paddle');
    leftButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft -= 250;
    })
    var rightButton = document.querySelector('.right-paddle');
    rightButton.addEventListener('click', () => {
        document.getElementById('chapter').scrollLeft += 250;
    })
</script>

